In [1]:
# !pip install pycountry_convert

### All weeks countries

In [2]:
import pandas as pd
import pycountry_convert as pc

In [3]:
allweekscountries = pd.read_excel("Jun2024/all-weeks-countries.xlsx",sheet_name="Top 10")

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

#### add continent

In [4]:
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [5]:
allweekscountries["Continent"] = allweekscountries["country_name"].apply(lambda x : country_to_continent(x))

C:\Users\User\anaconda3\lib\site-packages\pycountry\db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
C:\Users\User\anaconda3\lib\site-packages\pycountry\db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

In [6]:
allweekscountries["Continent"].unique().tolist()

['South America', 'Oceania', 'Europe', 'North America', 'Asia', 'Africa']

In [7]:
allweekscountries=allweekscountries.fillna("")

#### split the seasons

In [8]:
def splittheseason(x):
    season = ""
    if len(x.split("Season")) > 1:
        season = x.split("Season")[1].strip()
    elif len(x.split("Part")) > 1:
        season = x.split("Part")[1].strip()
    elif len(x.split("Limited Series")) > 1:
        season = x.split('Limited Series')[1].strip()
        
    return season

In [9]:
allweekscountries["Season"] = allweekscountries["season_title"].apply(lambda x : splittheseason(x))

In [10]:
# allweekscountries["Season"].unique().tolist()

In [11]:
allweekscountries.to_csv("Jun2024/all-weeks-countries-edited.csv",index=False)

In [12]:
allweekscountries.shape

(290860, 10)

#### country of origin

In [13]:
initialcountryoforiginandshowtype = pd.read_csv("initialcountryoforiginandshowtype.csv")
combinedbycountryandshow = allweekscountries.merge(initialcountryoforiginandshowtype, left_on=["show_title"], right_on=["show_title"], how="left")
# combinedbycountryandshowv1 = combinedbycountryandshow[["show_title", "show_type", "country_of_origin"]]
combinedbycountryandshowv1=combinedbycountryandshow.fillna("")
combinedbycountryandshowv1=combinedbycountryandshowv1.drop_duplicates()
# combinedbycountryandshowv1.to_csv("combinedbycountryandshowv1.csv",index=False)

In [14]:
combinedbycountryandshowv1

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,Continent,Season,show_type,country_of_origin
0,Argentina,AR,2024-06-23,Films,1,Trigger Warning,,1,South America,,,
1,Argentina,AR,2024-06-23,Films,2,Cuando acecha la maldad,,2,South America,,,
2,Argentina,AR,2024-06-23,Films,3,Inheritance,,1,South America,,,
3,Argentina,AR,2024-06-23,Films,4,Inheritance,,4,South America,,,
4,Argentina,AR,2024-06-23,Films,5,Mission: Impossible - Dead Reckoning,,2,South America,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
291976,Vietnam,VN,2021-07-04,TV,6,Reply 1988,Reply 1988: Season 1,1,Asia,1,,
291977,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,","Nevertheless,: Limited Series",1,Asia,,,
291978,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1,Asia,2,Reality,United States
291979,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1,Asia,1,,
291980,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,Crash Landing on You: Limited Series,1,Asia,,,

### more data

In [15]:
netflix_titles = pd.read_csv("netflix_titles.csv",  encoding='unicode_escape')

In [16]:
titlesandother = combinedbycountryandshowv1.merge(netflix_titles, left_on=["show_title"], right_on=["title"], how="left")

In [17]:
titlesandother.shape

(291981, 38)

In [18]:
titlesandother.columns

Index(['country_name', 'country_iso2', 'week', 'category', 'weekly_rank',
       'show_title', 'season_title', 'cumulative_weeks_in_top_10', 'Continent',
       'Season', 'show_type', 'country_of_origin', 'show_id', 'type', 'title',
       'director', 'cast', 'country', 'date_added', 'release_year', 'rating',
       'duration', 'listed_in', 'description', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [19]:
titlesandother=titlesandother.fillna("")
theunnamedcolumns = []
for acol in titlesandother.columns:
    if("Unnamed: " in acol):
        theunnamedcolumns.append(acol)
titlesandother.drop(theunnamedcolumns, inplace=True, axis=1)

In [20]:
len(list(titlesandother.columns))

24

In [21]:
# titlesandother['country'].unique().tolist()

In [22]:
titlesandother.to_csv("Jun2024/titlesandother.csv",index=False)

### All weeks global

In [23]:
allweeksglobal = pd.read_excel("Jun2024/all-weeks-global.xlsx",sheet_name="Top 10")

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [24]:
allweeksglobal.head(4)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2024-06-23,Films (English),1,Trigger Warning,NaN,45900000,1.7833,25700000.0,1,False,NaN
1,2024-06-23,Films (English),2,Ultraman: Rising,NaN,16000000,2.0167,7900000.0,2,False,NaN
2,2024-06-23,Films (English),3,Dracula Untold,NaN,10300000,1.5333,6700000.0,1,False,NaN
3,2024-06-23,Films (English),4,Inheritance,NaN,9500000,1.8500,5100000.0,4,False,NaN

In [25]:
allweeksglobal["season_title"]=allweeksglobal["season_title"].fillna("")

In [26]:
allweeksglobal["Season"] = allweeksglobal["season_title"].apply(lambda x : splittheseason(x))

In [27]:
allweeksglobal.to_csv("Jun2024/all-weeks-global-edited.csv",index=False)

### most-popular

In [28]:
mostpopular = pd.read_excel("Jun2024/most-popular.xlsx",sheet_name="Top 10")

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [29]:
mostpopular.shape

(40, 7)

In [30]:
mostpopular

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
0,Films (English),1,Red Notice,NaN,454200000,1.9667,230900000
1,Films (English),2,Don't Look Up,NaN,408600000,2.3833,171400000
2,Films (English),3,The Adam Project,NaN,281000000,1.7833,157600000
3,Films (English),4,Bird Box,NaN,325300000,2.0667,157400000
4,Films (English),5,Leave the World Behind,NaN,339300000,2.3667,143400000
5,Films (English),6,The Gray Man,NaN,299500000,2.1500,139300000
6,Films (English),7,Damsel,NaN,253000000,1.8333,138000000
7,Films (English),8,We Can Be Heroes,NaN,231200000,1.6833,137300000
8,Films (English),9,The Mother,NaN,265900000,1.9500,136400000
9,Films (English),10,Glass Onion: A Knives Out Mystery,NaN,320300000,2.3500,136300000
10,Films (Non-English),1,Troll,NaN,178600000,1.7333,103000000
11,Films (Non-English),2,Society of the Snow,NaN,239700000,2.4333,98500000
12,Films (Non-English),3,Nowhere,NaN,155600000,1.8167,85700000
13,Films (Non-English),4,The Platform,NaN,129700000,1.5667,82800000
14,Films (Non-English),5,Under Paris,NaN,138100000,1.7333,79700000
15,Films (Non-English),6,Through My Window,NaN,116000000,1.9000,61100000
16,Films (Non-English),7,AKA,NaN,125900000,2.0667,60900000
17,Films (Non-English),8,Blood Red Sky,NaN,124800000,2.0500,60900000
18,Films (Non-English),9,My Name Is Vendetta,NaN,86500000,1.5333,56400000
19,Films (Non-English),10,Black Crab,NaN,103300000,1.9167,53900000
20,TV (English),1,Wednesday,Wednesday: Season 1,1718800000,6.8167,252100000
21,TV (English),2,Stranger Things,Stranger Things 4,1838000000,13.0667,140700000
22,TV (English),3,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,1031100000,8.9167,115600000
23,TV (English),4,Bridgerton,Bridgerton: Season 1,929300000,8.2000,113300000
24,TV (English),5,The Queen's Gambit,The Queen's Gambit: Limited Series,746400000,6.6167,112800000
25,TV (English),6,The Night Agent,The Night Agent: Season 1,803200000,8.1833,98200000
26,TV (English),7,Fool Me Once,Fool Me Once: Limited Series,629800000,6.4167,98200000
27,TV (English),8,Stranger Things,Stranger Things 3,716100000,7.5500,94800000
28,TV (English),9,Bridgerton,Bridgerton: Season 2,797200000,8.5000,93800000
29,TV (English),10,Baby Reindeer,Baby Reindeer: Limited Series,344600000,3.9667,86900000
30,TV (Non-English),1,Squid Game,Squid Game: Season 1,2205200000,8.3167,265200000
31,TV (Non-English),2,Money Heist,Money Heist: Part 4,710200000,6.7000,106000000
32,TV (Non-English),3,Lupin,Lupin: Part 1,396300000,3.9833,99500000
33,TV (Non-English),4,Money Heist,Money Heist: Part 5,900700000,9.0833,99200000
34,TV (Non-English),5,Money Heist,Money Heist: Part 3,519800000,6.5000,80000000
35,TV (Non-English),6,Lupin,Lupin: Part 2,258900000,3.7833,68400000
36,TV (Non-English),7,Who Killed Sara?,Who Killed Sara?: Season 1,392400000,6.7167,58400000
37,TV (Non-English),8,Berlin,Berlin: Season 1,372600000,6.5667,56700000
38,TV (Non-English),9,All of Us Are Dead,All of Us Are Dead: Season 1,679300000,12.2333,55500000
39,TV (Non-English),10,Dear Child,Dear Child: Limited Series,245400000,4.8167,50900000